body{
}

.line1{
    color:rgb(27, 156, 156);
    font-size: 35px;
    font-weight: 1000;
    line-height: 30px;
    text-align: center;
}
.line2{
    color:rgb(153, 8, 64);
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
}